@import '../../styles/style-variables.scss';

.tags {
	display: inline;
	color: $color-text;
	text-align: center;

	& a {
		margin-bottom: 0 !important; // overrides a bulma oddity
	}

	.active,
	:active,
	:hover,
	:focus {
		color: $color-active-blue;
	}
}
