@import '../../styles/style-variables.scss';

.info {
	font-size: $font-size-small;
	& div,
	p {
		display: inline;
	}

	& .read-info {
		padding: 0 1rem;
	}

	@media (max-width: $break-width-small) {
		text-align: center;
	}
}
.tag {
	color: $color-text;
	&:hover {
		color: $color-active-blue;
	}
}

.after-icon {
	padding-left: 5px;
}
