@import '../../styles/style-variables.scss';
.container {
	padding: 2rem;
	background-color: $color-nav-main;
}
.items {
	margin: 0px !important; // Override weird Bulma rule
	@media (max-width: $break-width-small) {
		display: block;
		padding: 0px;
	}

	@media (min-height: 1200px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.aboutItem {
		padding: 2rem;
		p {
			margin-bottom: 1.25rem;
		}
	}
	.aboutImage {
		// max-width: 300px;
		display: block;
		margin: 0 auto;
		padding-top: 8px;
	}
}

.recentPosts {
	padding: 2rem;
}

.dots {
	cursor: pointer;
	background-image: radial-gradient(circle, black 10px, transparent 11px);

	// horizontal
	background-size: 33.33% 100%;

	@media (max-width: $break-width-bulma-desktop) {
		// Vertical
		background-size: 100% 33.33%;
		height: 100px;
	}
}
