@import '../../styles/style-variables.scss';
.items {
	background-color: $color-nav-main;
	border: 0px solid black;
	border-radius: $border-radius-default;
	margin: 0px !important; // Override weird Bulma rule
	padding: 2rem;

	@media (max-width: $break-width-small) {
		display: block;
		padding: 0px;
	}

	@media (min-height: 1200px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.aboutItem {
		padding: 2rem;
		p {
			margin-bottom: 1.25rem;
		}
	}
	.aboutImage {
		max-width: 300px;
		display: block;
		margin: 0 auto;
		padding-top: 8px;
	}
}
