@import '../../styles/style-variables.scss';
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: $color-nav-footer;
	border: 0px solid black;
	border-radius: $border-radius-default;
	padding: 0.5rem 0.5rem;

	@media (max-width: 700px) {
		display: block;
	}

	.aboutItem {
		width: 50%;
		padding: 2rem;

		@media (max-width: 700px) {
			width: 100%;
		}
	}
	.aboutImage {
		max-width: 300px;
		display: block;
		margin: 0 auto;
		padding-top: 5rem;
	}
}
