@import '../../styles/style-variables.scss';

.container {
	background-color: $color-nav-main;
	padding: 2rem;

	& .subtitle {
		margin-top: 1rem;
	}
}

.roo-container {
	margin: 3rem 0;
	text-align: center;
	& p {
		margin: 2rem;
	}
}
