@import '../../../../styles/style-variables.scss';

.isActive {
	border: 2px solid $color-active-blue !important;
}

.container {
	background-color: white;
	margin: 2rem 0;
	border-radius: $border-radius-default;
	padding: 1.5rem;
	cursor: pointer;
	border: 2px solid $color-active-background;

	&:hover,
	&:active {
		border: 2px solid $color-active-blue;
	}

	div {
		display: inline-block;
	}
	.title {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		.mainTitle {
			font-weight: 600;
		}
	}
	.tertiaryUrl {
		color: $color-active-blue;
		font-weight: 600;
	}
	.desctiptionTitle {
		margin-top: 10px;
	}
	.descriptionContainer {
		margin-top: 20px;
		.description {
			margin-bottom: 5px;
		}
	}
}
