@import '../../styles/style-variables.scss';

.container {
	text-align: center;
	max-width: 400px !important;
	@include on-screens-larger-than-small {
		min-height: 600px;
	}
	cursor: pointer;
	border: 2px solid $color-background;
	&:hover {
		border-color: $color-active-blue;
	}
}
.title-container {
	@media (max-width: $break-width-small) {
		text-align: center;
	}
	@include on-screens-larger-than-small {
		min-height: 80px;
	}
	.title {
		color: $color-text;
		font-size: $font-size-medium;
		// &:hover {
		// 	color: $color-active-blue;
		// }
	}
}

.description {
	color: $color-text;
}

.thumbnail-container {
	text-align: center;

	.thumbnail {
		cursor: pointer;
		&:focus-within {
			border: 3px solid $color-active-blue;
		}
	}
	@include on-screens-smaller-than-small {
		padding: 0;
	}
}
