@import '../../styles/style-variables.scss';

.title-container {
	@media (max-width: $break-width-small) {
		text-align: center;
	}
	.title {
		color: $color-text;
		&:hover {
			color: $color-active-blue;
		}
	}
}

.excerpt {
	color: $color-text;
}

.thumbnail-container {
	@media (max-width: $break-width-small) {
		text-align: center;
	}

	.thumbnail {
		cursor: pointer;
		&:focus-within {
			border: 3px solid $color-active-blue;
		}
	}
}

.meta-container {
	margin-bottom: 0.5rem;
}
