@import './style-variables.scss';

html {
	background-color: $color-nav-main !important;
}

body {
	background-color: $color-background !important;
	font-size: $font-size-small;
	font-weight: 300;

	@media (min-width: $break-width-large) {
		font-size: $font-size-medium;
	}
}

.token.tag,
.token.content,
.token.number {
	display: inline;
	padding: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
	vertical-align: inherit;
	border-radius: inherit;
	font-weight: inherit;
	white-space: inherit;
	background: inherit;
	margin: inherit;
}

// For posts since we can't use modules

.image-caption-container {
	text-align: center;
	margin-top: -1em;
	margin-bottom: 1em;
}
