// Breakpoints
$break-width-teeny: 400px;
$break-width-tiny: 500px;
$break-width-small: 700px;
$break-width-smallish: 900px;
$break-width-medium: 1200px;
$break-width-large: 1800px;

//Colors
$color-background: #86979f;
$color-active-background: #58707c;
$color-active-blue: #1777bf;
$color-nav-footer: #f8f9fa;

// Font sizes
$font-size-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 2.5rem;

// Border Radius
$border-radius-default: 20px;
