@import '../../styles/style-variables.scss';

.container {
	background-color: $color-nav-footer;
	border: 0px solid black;
	border-radius: $border-radius-default;
	padding: 2rem;

	.inputContainer {
		label {
			display: block;
		}
		input,
		textarea {
			border-radius: 4px;
		}
	}
}
