@import '../../styles/style-variables.scss';

.container {
	background-color: $color-nav-footer;
	border: 0px solid black;
	border-radius: $border-radius-default;
	padding: 2rem;

	.control {
		margin-top: 8px;

		textarea {
			min-height: 200px;
		}
	}
}
