@import '../../styles/style-variables.scss';

.container {
	margin: 0px !important; //counters odd Bulma column rule

	.column-header {
		text-align: center;
	}
	.column-container {
		background-color: $color-nav-main;
		border: 0px solid black;
		border-radius: $border-radius-default;
		padding: 2rem;
	}

	.control {
		margin-top: 8px;

		textarea {
			min-height: 200px;
		}
		.button {
			@media (max-width: $break-width-small) {
				display: flex;
				width: 100%;
			}
		}
	}
}
