@import '../../styles/style-variables.scss';

.container {
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	.footer {
		padding: 0.5rem 2.5rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		div {
			margin: auto 0;
		}
		a {
			font-size: 2em;
			color: black;
			margin-right: 1em;
			&:active,
			&:hover,
			&:focus {
				color: $color-active-blue;
			}
		}
	}
	.main {
		padding: 0.5rem 2rem;
		border-radius: $border-radius-default;

		@media (max-width: $break-width-medium) {
			border-radius: 0px;
			padding: 0.5rem 1rem;
		}
	}
}
