@import '../../styles/style-variables.scss';

.container {
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.spacer {
		background-color: $color-background;
		height: 15px;
	}
	.footer {
		padding: 0.5rem 2.5rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		div {
			margin: auto 0;
		}
		a {
			font-size: 2em;
			color: black;
			margin-right: 1em;
			&:active,
			&:hover,
			&:focus {
				color: $color-active-blue;
			}
		}
	}
	.main {
		background-color: $color-nav-main;
		border-radius: $border-radius-default;
		flex-grow: 1;

		@media (max-width: $break-width-medium) {
			border-radius: 0px;
		}
	}
}
