@import '../../styles/style-variables.scss';

.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.main {
		background-color: $color-background;
		flex-grow: 1;

		padding: 1.5rem 0;

		@media (min-width: $break-width-large) {
			padding: 3rem 18rem;
			box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
				0 0px 0 1px rgba(10, 10, 10, 0.02);
		}
	}
}
