@import '../../styles/style-variables.scss';

.navBar {
	display: flex;
	background: $color-nav-main;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0 1rem;
	font-weight: 400;
	font-size: $font-size-medium;

	@include on-screens-larger-than-large {
		font-size: $font-size-large;
	}

	@include on-screens-smaller-than-teeny {
		justify-content: center;
	}
	.rightLinks {
		display: flex;
		flex-flow: row nowrap;
	}
	.title {
		padding: 0.5rem 0.75rem;
		margin: 1px;
		// border-right-width: 1px;
		// border-right-style: solid;
		// border-right-color: black;
		color: black;
		@include on-screens-smaller-than-teeny {
			display: none;
		}
		.lastName {
			@include on-screens-smaller-than-tiny {
				display: none;
			}
		}
	}
	.navLink {
		text-decoration: none;
		margin: 0 1px;
		padding: 0.5rem 0.75rem;
		color: rgba(0, 0, 0, 0.6);
		&.active {
			color: black;
		}
		&:focus,
		&:hover {
			text-decoration: none;
			color: rgba(0, 0, 0, 1);
		}
	}
}
