@import '../../styles/style-variables.scss';

.navBar {
	display: flex;
	background: $color-nav-footer;
	flex-flow: row nowrap;
	justify-content: flex-end;
	padding: 0 1rem;
	font-weight: 400;
	font-size: $font-size-medium;
	@media (max-width: $break-tablet-tiny) {
		justify-content: center;
	}
	.divider {
		text-align: center;
	}
	.title {
		padding: 0.5rem 0.75rem;
		margin: 1px;
		border-right-width: 1px;
		border-right-style: solid;
		border-right-color: black;
		color: black;
		@media (max-width: $break-tablet-tiny) {
			display: none;
		}
		.lastName {
			@media (max-width: $break-tablet-small) {
				display: none;
			}
		}
	}
	.navLink {
		text-decoration: none;
		margin: 0 1px;
		padding: 0.5rem 0.75rem;
		color: rgba(0, 0, 0, 0.6);
		&.active {
			color: black;
		}
		&:focus,
		&:hover {
			text-decoration: none;
			color: rgba(0, 0, 0, 1);
		}
	}
}
