@import '../../styles/style-variables.scss';

.footer {
	padding: 0.25rem 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: $color-nav-footer;
	div {
		margin: auto 0;
	}
	a {
		font-size: 2em;
		color: black;
		margin-right: 1em;
		&:active,
		&:hover,
		&:focus {
			color: $color-active-blue;
		}
	}
	.date {
		padding: 0 0.25rem;
	}
}
