@import '../../styles/style-variables.scss';

.footer {
	padding: 1rem 0 0.75rem 0;
	// display: flex;
	// flex-flow: row nowrap;
	// justify-content: space-between;
	background-color: $color-nav-footer;
	.center {
		text-align: center;
	}
	a {
		font-size: 2em;
		color: black;
		margin: 0rem 1rem;
		&:active,
		&:hover,
		&:focus {
			color: $color-active-blue;
		}
	}
	.copyright {
		text-align: center;
		margin: 0 0.25rem;
		font-size: 0.75rem;
	}
}
