@import '../../styles/style-variables.scss';

.footer {
	padding: 2rem;
	background-color: $color-nav-main;

	.center {
		text-align: center;
		color: black;
		padding-bottom: 1rem;
		& a {
			font-size: $font-size-large;
			color: black;
			margin: 0rem 1rem;
			&:active,
			&:hover,
			&:focus {
				color: $color-active-blue;
			}
		}
	}

	.copyright {
		text-align: center;
		font-size: $font-size-teeny;
		& a {
			color: $color-text;
			&:active,
			&:hover,
			&:focus {
				color: $color-active-blue;
			}
		}
	}
}
