@import '../../styles/style-variables.scss';

.container {
	display: flex;
	flex-flow: row nowrap;
	margin: 0px -5px; // Counters the panel margin's far left and right

	// width: $break-width-medium;
	@media (max-width: $break-width-smallish) {
		width: $break-width-small;
	}
	@media (max-width: $break-width-medium) {
		width: $break-width-smallish;
	}

	@media (max-width: $break-width-small) {
		display: block;
		width: 100%;
	}
	.panel {
		margin: 0 5px;
		width: 50%;
		background-color: #f8f8f8;
		border-radius: $border-radius-default;
		padding: 1rem;
		overflow-y: scroll;

		max-height: 800px;

		@media (min-height: 1200px) {
			max-height: 1000px;
		}
		// @media (max-height: 600px) {
		// 	max-height: 400px;
		// }
		@media (max-width: $break-width-small) {
			border-radius: 0;
			margin: 0px;
			max-height: none;
		}
	}
	.leftPanel {
		@media (max-width: $break-width-small) {
			width: 100%;
		}
	}
	.rightPanel {
		@media (max-width: $break-width-small) {
			// Ideally we actually unmount for
			// performance reasons but I keep
			// running into bugs
			visibility: hidden;
			height: 0px;
			padding: 0px;
		}
	}
}
