@import '../../styles/style-variables.scss';

.container {
	display: flex;
	flex-flow: row nowrap;
	margin: 0px -5px; // Counters the panel margin's far left and right
	@media (max-width: $break-tablet-small) {
		display: block;
	}
	.panel {
		margin: 0 5px;
		width: 50%;
		background-color: #f8f8f8;
		border-radius: $border-radius-default;
		padding: 1rem;
		overflow-y: scroll;

		max-height: 800px;

		@media (max-height: 800px) {
			max-height: 600px;
		}
		@media (max-height: 600px) {
			max-height: 400px;
		}
		@media (max-width: $break-tablet-small) {
			border-radius: 0;
			margin: 0px;
		}
	}
	.leftPanel {
		@media (max-width: $break-tablet-small) {
			width: 100%;
		}
	}
	.rightPanel {
		@media (max-width: $break-tablet-small) {
			visibility: hidden;
		}
	}
}
