@import '../../styles/style-variables.scss';

.title-container {
	@media (max-width: $break-width-small) {
		margin: 3rem 0;
		text-align: center;
	}
}

.metaContainer {
	margin: 2rem 0;
	@media (max-width: $break-width-small) {
		margin: 3rem 0;
	}
}

.image-container {
	text-align: center;
	margin-bottom: 2rem;
}

.media {
	// Bulma sets this to 1.5 but it doesn't look right
	margin-bottom: 0.5rem !important;
}

.footer-section {
	margin-top: 4rem;
}

.end-divider {
	font-size: 30px;
	margin: 1rem 0 8rem 0;
}

.share-buttons {
	margin-top: 6rem;
	& a {
		margin: 1rem;
	}

	& :active,
	& :hover,
	& :focus {
		color: $color-active-blue;
	}
}
