@import '../../styles/style-variables.scss';

.title-container {
	@media (max-width: $break-width-small) {
		margin: 3rem 0;
		text-align: center;
	}
}

.metaContainer {
	margin: 2rem 0;
	@media (max-width: $break-width-small) {
		margin: 3rem 0;
	}
}

.mainCaption {
	@include post-image-caption;
}

.image-container {
	text-align: center;
	margin-bottom: 2rem;
}

.media {
	// Bulma sets this to 1.5 but it doesn't look right
	margin-bottom: 0.5rem !important;
}

.footer-section {
	margin-top: 6rem;
}

.share-container {
	& p {
		padding-right: 1rem;
	}
}
.share-buttons {
	& a {
		margin: 0 0.5rem;
	}

	& button {
		margin-right: 0.5rem;
	}

	& :active,
	& :hover,
	& :focus {
		color: $color-active-blue;
	}
}

.content {
	// I don't like how lists are styled normally

	& > p:not(:last-child) {
		margin-bottom: 2em;
	}
	& li + li {
		margin-top: 1em;
	}

	& > p + ul,
	& > p + ol {
		margin-top: -1.5em;
	}

	& ul > li {
		margin-top: 0;
	}
	& li > ul,
	& li > ol {
		margin-top: 0;
	}

	& li > p:first-child {
		margin-bottom: 0em;
	}
}
